<section class="row justify-content-center">
  <!-- PRINCIPAL -->
  <main class="principal col-md-8 ">
    <article>
      <h1 class="text-center">Pulsaciones</h1>
      <p>En medicina, el pulso de una persona es una onda de presión provocada por la expansión de las arterias como consecuencia de la circulación de sangre bombeada por el corazón. Se obtiene por lo general en partes del cuerpo donde las arterias se encuentran más próximas a la piel, como en las muñecas o el cuello e incluso en la sien.</p>
      <p>Las ondas de presión se mueven a lo largo de los vasos sanguíneos, que son flexibles, pero no están provocadas por el movimiento de avance de la sangre. Cuando el corazón se contrae, la sangre es expulsada a la aorta y ésta se expande. En este punto es cuando la onda de distensión (onda de pulso) es más pronunciada, pero se mueve relativamente 	lenta (3 a 6 m/s).</p>
      
    </article>
  </main>
  
</section>